#{extends 'main.html' /}
#{set title:'Home' /}


%{
	letetrs = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
}%

<div class="row">
  	<div class="col-lg-1 col-centered">

  		<h3>Index</h3>
  			
  	</div>
</div>


<hr>


<div class="row">
  	<div class="col-lg-5 col-centered">

  		<div>
  			#{list items:letetrs, as:'letter'}
  			<span><a href="@{Application.list(letter)}">&nbsp;${letter}&nbsp;</a></span>
  			#{/list}
  		</div>
  			
  	</div>
</div>


<hr>