#{extends 'main.html' /}
#{set title:term.word /}





<div class="row">
  	<div class="col-md-12">

  		<h1>${term.word} ${term.word_zh}</h1>

  	</div>
</div>

<hr>

<div class="row">
  	<div class="col-md-12">

		  <p>${term.content.nl2br()}</p>

  	</div>
</div>

<hr>

<div class="row">
  	<div class="col-md-12">

      <p>
        Categories: 
        #{list items:term.tags, as:'t'}
        <a href="@{Application.tag(t)}">${t}</a>#{if t_index != term.tags?.size()},#{/if}
        #{/list}
      </p>

  		<p>${term.seeAlso.raw()}</p>

  	</div>
</div>




